@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
}

/* Header styles
------------------------------ */
.top{
  height: 270px;
  background-color: #7a121b;
}
header{
  display: flex;
  align-items: center;
  height: 120px;
  justify-content: space-between;
  padding: 20px 30px;

  background-color: #7a121b;
  color: white;
}
.text-me{
  display: flex;
  align-items: center;
  
}

/* .welcome{
padding:0px 0px 0px -900px
} */

.sign-up-1:link, .sign-up-1:visited{
  color: white;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  text-decoration: none;
}  
.sign-up-1:hover, .sign-up-1:active {
  color: #FAD427;
}

.logo-1{
  display: flex;
  margin: 0px;
  align-items: center;
  /* justify-content: space-between; */
}
nav{
  display: inline-block;
}
/* .headertext{
  float: right;
  margin-top: 30px;
  line-height: 20px;
  text-align: center;
} */


.have-an-account{
  color: #ffffff;
  font-size: 16px;
  margin-right: 5px;

}

 /* ul li {
  display: inline-block;
  line-height: 0px;
  margin: 0px 10px;
} */

/* header ul li a {
  color: #efefef;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 2px;
  text-transform: uppercase; */

/* main
------------------------------ */

.button:hover, .button:active {
  background: #d1d1d1;
  border-radius: 2px;
  transition: 0.5s;
}

.Sign-in-container details{
  color: #7a121b;
  border: #FAD427
}
.text-signin{
  padding: 40px 0px 20px 0px;
}
.welcome{
  padding: 0px 0px 10px 0px;
  color: #7C7C7C;
}
.forgot{
  padding: 20px 0px 20px 0px;
  color: #7C7C7C;
}
.button{
  
  display: inline-block;
  background-color: #FAD427;
  border-radius:10px;
  border: none;
  width: 436px;
  height: 46px;
  text-align: center;
  padding:10px 10px 20px 10px;
  margin:0 auto;
  font-size: 20px;
  font-weight: 600;
  font-family: inter;
  text-decoration: none;
  color: #494949;

}
.button:hover{
  background: #d1d1d1;
  border-radius: 10px;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: #ffffff;
}

.Sign-in-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* text-align: center; */

}
.sign-in-2{
  background-color: white;
  /* padding: 30px 0px; */
  box-shadow: 0 4px 10px #919191;
  width: 576px;
  /* max-width: 80%; */
  width: 50%;
  height: 510px;
  margin: -110px auto 10px auto;
}

.details input{
  width: 436px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #FAD427;
  padding-left: 10px;
}
.sign-in-container .forgot{
  text-align:left;
  margin-left: 50px;
}
.Sign-in-container h2 input{
  border-color: #FAD427;

}
.register-container input{
  max-width: 80%;
  margin: 0px auto;
  align-items: center;
  align-content: center;
  position: relative;
}
.reg-with-us{
  display: flex;
  padding: 0px;
  margin: 0px auto;
  max-width: 50%;
  opacity: 0.8;
}

.icon a img{
width: 60px;
align-items: center;
padding:10px 10px 10px 10px;
}

.icon{
  background-color: #D9D9D9;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow:0px 4px 6px rgba(0, 0, 0, 0.25);
}

.line-group{
  display:flex;
  flex-direction: row;
  width: 70%;
  margin: 20px auto;
}
.line{
  width: 40%;
  height: 1.5px;
  background-color:#D9D9D9;
  margin-top: 10px;
}
.line-group p{
  margin: 0px;
  width: 60%;
  color: #7C7C7C;
  text-align: center;
}
.signup{
  text-align: center;
}
hr{
  margin-top: 70px;
  border-top: 1px solid #fad427;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 600px; */
  margin: 0 auto;
  text-align: center;
}

footer h6{
  padding: 0px 0px;
  font-size: 15px;
  margin: 10px 0px;
  text-align: center;
}

footer p{
  text-align: center;
  font-size: 16px;
  font-weight: 400px;
  line-height: 29px;
  /* width: 70%; */
  margin: 0 200px;
}
@media screen and (max-width:900px){
  .sign-in-2{
    width: 90%;
  }
  footer p{
    width: 80%;
  }
}
@media screen and (max-width:540px) {
  .have-an-account{
    margin: 10px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
      font-size: 12px;
    }
}
@media screen and (max-width:498px) {
  header{
    padding: 20px 10px;
  }
  .mainlogo img{
    height: 90px;
  }
  .sign-up-1{
    display: flex;
    font-size: 18px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  .have-an-account{
    display: flex;
    margin: -0px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
      font-size: 12px;
    }

    .headertext{
      display: flex;
      float: right;
      margin-top: -50px;
      line-height: 0px;
      /* margin: 0px 0px 0px 0px; */
      padding: 0px 0px 0px 0px;
    }
    .details input{
      width: 95%;
    }
    .sign-in-container{
      text-align: cente;
    }
    .button{
      width: 95%;
    }
    form{
      width: 300px;
    }
    footer p{
      width: 90%;
      font-size: 13px;
    }
    .text-me{
      flex-direction: column;
    }

}
@media screen and (max-width:348px) {
  .icon a img{
    width: 50px;
    }
    
    .icon{
      background-color: #D9D9D9;
      width: 50px;
      height: 50px;
    }
    .button{
      width: 95%;
    }
    form{
      width: 270px;
    }
   
    
}